body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 3px auto;
    padding: 46px;
    width: 300px;
}

h1 {
    color: #007bff;
}

label {
    display: block;
    margin-top: 10px;
    color: #fff;
}

input[type="number"],
input[type="checkbox"],
button,
input[type="text"] {
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #007bff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#passwordStrength {
    margin-top: 10px;
    font-weight: bold;
}
